@page
@model LoginModel
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

@{
    ViewData["Title"] = "Log in";
}

<style>
    body {
        background-color: #f8f9fa; /* Màu nền */
    }

    .login-container {
        margin-top: 50px;
    }

    .login-box {
        background-color: #fff; /* Màu nền */
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

    .login-title {
        text-align: center;
        margin-bottom: 30px;
    }

    .form-label {
        color: #495057; /* Màu chữ cho nhãn input */
    }

    .login-link {
        text-align: center;
    }
</style>

<div class="container login-container">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="login-box">
                <h1 class="login-title">@ViewData["Title"]</h1>
                <form id="account" method="post" class="login-form">
                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" asp-for="Input.Email">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" asp-for="Input.Password">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="rememberCheck" asp-for="Input.RememberMe">
                        <label class="form-check-label" for="rememberCheck">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </form>
                <div class="login-link mt-3">
                    <p><a href="./ForgotPassword">Forgot your password?</a></p>
                    <p><a href="./ResendEmailConfirmation">Resend email confirmation</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
