@model FoodStore.Models.FoodCategory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Bạn có muốn xóa @Model.Name?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirm">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger" style="margin-top: 10px;">Xóa</button>
        <a asp-action="Index" class="btn btn-info" style="margin-top: 10px;">Trở về</a>
    </form>
</div>
