html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
:root {
    --primary-color: #C40414;
    --text-color: white;
    --second-color: #E72434;
    --blue-gradient: #0081A7;
    --blue-light-gradient: #00AFB9;
    --red-gradient: #F07167;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none
}

p {
    margin: 0;
    padding: 0;
}

img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

button {
    min-width: 100px;
    font-weight: bold;
}


.bg-gradient-custom {
    background-color: var(--blue-gradient);
}

.btn-primary-custom {
    background-color: var(--blue-light-gradient);
    color: var(--text-color);
    transition: 0.2s ease-in-out;
}

    .btn-primary-custom:hover {
        background-color: var(--blue-gradient);
        color: var(--text-color);
    }

.btn-red-custom {
    background-color: var(--red-gradient);
    color: var(--text-color);
    transition: 0.2s ease-in-out;
}

    .btn-red-custom:hover {
        background-color: var(--blue-gradient);
        color: var(--text-color);
    }


.management--wrapper {
    width: 100%;
    height: 550px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-search {
    width: 800px;
}

.actions button {
    min-width: 80px;
    max-width: 250px;
}

.table--wrapper {
    height: 400px;
    overflow-y: scroll;
}

table {
    table-layout: fixed;
}

    table td {
        white-space: nowrap;
        overflow: hidden;
        width: 180px;
        text-overflow: ellipsis;
        padding: 4px 8px;
        height: 80px;
        line-height: 55px;
    }

.table-item {
    height: 55px;
}

    .table-item:hover {
        background-color: #ECECEC;
    }

.edit--wrapper {
    width: 80%;
    height: 300px;
}