@model FoodStore.Models.Payment

@{
    ViewData["Title"] = "Display";
    Layout = "~/Areas/Employee/Views/Shared/_LayoutEmployee.cshtml";
}

<h1>Chi tiết hình thức thanh toán @Model.Name</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id" class="btn btn-primary">Chỉnh sửa</a> |
    <a asp-action="Index" class="btn btn-info">Trở về</a>
</div>
